* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.Container{
    max-width: 1440px;
    height: 600px;
    border: 20px solid red;
    margin: 100px auto;
    display: grid;
    grid-auto-rows: 100px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(auto-fit,150px); */
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));

    /* row-gap: 10px;
    column-gap: 10px; */
    gap: 10px;
    grid-auto-flow: dense;
}

.item{
    background-color: #487eb0;
    color: #fff;
    padding: 10px;
    border: 2px solid black;
}
/* 
.item1{
    background-color: red;
    /* grid-row: span 2; */
    grid-column: 1/-1;
}
.item8{
    grid-column: 1/-1;
}
.item10{
    grid-column: span 9;
} */
/* .item6{
    grid-column: span 8;
    background-color: red;
} */